@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto/roboto-v30-latin-regular.woff) format("woff");
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main__photo {
  animation-duration: 2s;
  animation-time-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
  position: relative;
}
.main__text {
  animation-duration: 2s;
  animation-time-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  z-index: 1;
  position: relative;
}

/* .text__move {
  @apply animate__animated animate__fadeInLeft animate__delay-2s;
} */

@media (min-width: 1024px) {
  .main__photo {
    animation-name: animation-photo-lg;
    left: 160px;
  }

  .main__text {
    animation-name: animation-text-lg;
    left: -170px;
  }
  @keyframes animation-photo-lg {
    from {
      left: 160px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes animation-text-lg {
    from {
      left: -170px;
    }
    to {
      left: 0px;
    }
  }
}
