---
import MainLayout from "../layouts/MainLayout.astro";
// import { getCollection } from "astro:content";
// import FormattedDate from "../components/FormattedDate.astro";
// const posts = (await getCollection("notes")).sort(
//   (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
---

<!-- <script>
  let clickCount = 0;
  let img = document.getElementById("author-img");
  if (img) {
    img.addEventListener("click", () => {
      clickCount++;
      if (clickCount % 3 == 0) {
        img.src = "opt_frame.jpg";
        img.classList.remove("mask-circle");
      }
      if (clickCount % 4 == 0) {
        clickCount = 0;
        img.src = "profile.jpg";
        img.classList.add("mask-circle");
      }
    });
  }
</script> -->
<MainLayout>
  <main>
    <div class="pt-24">
      <div class="text-center">
        <label class="swap swap-flip text-9xl">
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" />

          <div class="swap-on max-w-[222px]">
            <img
              id="qr-code"
              src="frame.svg"
              alt="qr code"
              class="mx-auto rounded-xl w-full"
            />
          </div>
          <div class="swap-off max-w-[222px]">
            <img
              id="author-img"
              class="mx-auto mask mask-circle w-full"
              src="profile.jpg"
              alt="avatar"
            />
          </div>
        </label>

        <h2 class="permanent-marker-regular text-6xl text-white pt-3">
          Dmitry Smyrnov
        </h2>
        <p class="text-xl mt-2">
          Software developer | Angular, React, Node, Ruby
        </p>
        <br />
      </div>
      <!-- <main aria-label="Content">
        <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>

        {
          posts.map((post) => (
            <article class="post-item">
              <h4 class="post-item-title">
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </h4>
              <FormattedDate date={post.data.pubDate} />
            </article>
          ))
        }
      </main> -->
    </div>
  </main>
</MainLayout>
