---
import MainLayout from "../layouts/MainLayout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<MainLayout>
  <main>
    <div class="min-h-screen grid content-center">
      <div class="lg:flex lg:gap-8 lg:justify-center">
        <div class="main__photo">
          <img
            id="author-img"
            class="mx-auto max-w-[300px] select-none pointer-events-none"
            src="profile.jpg"
            alt="avatar"
          />
        </div>

        <div
          class="flex justify-around flex-col lg:mt-0 mt-4 lg:animatecss lg:animatecss-fadeInLeft lg:animatecss-delay-2s"
        >
          <div class="mx-auto text-center lg:mx-0 lg:text-left">
            <h2 class="text-xl uppercase font-semibold">Dmitry Smyrnov</h2>

            <div class="text-md pt-4">Engineer, Software-developer</div>
            <p class="text-md">Stack: PHP, Ruby (Rails), JS (Angular, React)</p>
          </div>
          <div class="flex lg:justify-start justify-center">
            <SocialIcons />
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
