---
import MainLayout from "../layouts/MainLayout.astro";
// import { getCollection } from "astro:content";
// import FormattedDate from "../components/FormattedDate.astro";
// const posts = (await getCollection("notes")).sort(
//   (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
---

<MainLayout>
  <main>
    <div class="pt-24">
      <div class="text-center">
        <img
          class="mx-auto mask mask-circle w-[250px]"
          src="profile.jpg"
          alt="avatar"
        />

        <h2 class="permanent-marker-regular text-5xl text-white pt-3">
          Dmitry Smyrnov
        </h2>
        <p class="mt-2">Software developer | Angular, React, Node, Ruby</p>
        <br />
      </div>
      <!-- <main aria-label="Content">
        <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>

        {
          posts.map((post) => (
            <article class="post-item">
              <h4 class="post-item-title">
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </h4>
              <FormattedDate date={post.data.pubDate} />
            </article>
          ))
        }
      </main> -->
    </div>
  </main>
</MainLayout>
