---
import MainLayout from "../layouts/MainLayout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<MainLayout>
  <main>
    <div class="min-h-screen grid content-center">
      <div class="lg:flex lg:gap-8 lg:justify-center">
        <div class="main__photo">
          <img
            id="author-img"
            class="mx-auto max-w-[300px] select-none pointer-events-none"
            src="profile.jpg"
            alt="avatar"
          />
        </div>

        <div class="flex justify-around flex-col lg:mt-0 mt-4">
          <div class="mx-auto text-center lg:mx-0 lg:text-left main__text">
            <h2 class="text-xl font-bold">Dmitry Smyrnov</h2>

            <div class="text-sm pt-2">Engineer, Software-developer</div>
            <p class="text-sm">
              Stack: Ruby (Rails), JS (Angular, React, Node)
            </p>
          </div>
          <div class="flex lg:justify-start justify-center main__text">
            <SocialIcons />
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
