---
import SocialIcons from "../components/SocialIcons.astro";
---

<footer
  class="text-center fixed bottom-[50px] lg:bottom-[60px] left-0 w-screen h-12"
>
  &nbsp;
  <SocialIcons />
  <p class="py-4 lg:mt-2 text-[#767f87] text-sm">
    © {new Date().getFullYear()} All rights deserved. Powered by
    <a
      href="https://astro.build"
      target="_blank"
      rel="noreferrer noopener"
      class="underline hover:decoration-none">Astro</a
    >.
  </p>
</footer>
