---
import SocialIcons from "../components/SocialIcons.astro";
---

<footer class="footer">
  <span class="footer_item"> </span>
  &nbsp;
  <SocialIcons />
  <small class="footer_copyright">
    © {new Date().getFullYear()} All rights deserved. Powered by
    <a href="https://astro.build" target="_blank" rel="noreferrer noopener"
      >Astro</a
    >.
    <!-- <br />And a high-five if you read this far 👋 -->
  </small>
</footer>
